.search-input-container {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #475569;
  margin-top: 30px;
}

.search-input {
  background-color: transparent;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  width: 80%;
}
.search-container {
  width: 20%;
  background-color: #272727;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
}
.search-icon {
  color: #ffffff;
  width: 20px;
  height: 20px;
}
