.not-found-route-bg {
  background-color: #121212;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-image {
  width: 30vw;
}

.not-found-title {
  color: #f1f5f9;
  font-size: 32px;
  font-weight: 500;
  font-family: 'Roboto';
}

.not-found-para {
  color: #cbd5e1;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
}
