/*.jobs-link-style {
  text-decoration-line: none;
}

.job-list-item-bg {
  background-color: #272727;
  padding: 30px;
  border-radius: 20px;
  width: 95%;
  margin-bottom: 28px;
  margin-left: 20px;
}

.job-item-top-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.company-logo {
  width: 65px;
}

.title-rating-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 15px;
}

.company-title {
  color: #ffffff;
  font-size: 21px;
  font-weight: 500;
  font-family: 'Roboto';
  margin-bottom: 0px;
}

.rating-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.star-logo {
  color: #fbbf24;
  height: 21px;
  width: 21px;
  margin-top: 0px;
  margin-right: 5px;
}

.jobs-rating-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
}

.job-item-middle-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jobs-separator {
  border: 1px #64748b solid;
}

.location-employment-type-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.location-logo {
  color: #ffffff;
  height: 25px;
  width: 25px;
}

.location-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto';
  margin-left: 8px;
  margin-right: 24px;
}

.package-text {
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  font-family: 'Roboto';
}

.job-description-title {
  color: #f1f5f9;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
}
.job-description-para {
  color: #cbd5e1;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Roboto';
  width: 90%;
  line-height: 1.5;
}
*/
