/*.jobs-route-bg {
  background-color: #121212;
  height: 120vh;
}

.jobs-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 90%;
}

.jobs-left-section {
  width: 30vw;
  height: 100%;
  overflow-y: auto;
  padding-left: 80px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.profile-failure-loading-bg {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jobs-not-found-failure-loading-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.retry-button {
  background-color: #4f46e5;
  border-width: 0px;
  border-radius: 5px;
  color: #f1f5f9;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  outline: none;
}

.profile-section {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  height: 250px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 40px;
}

.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

.profile-title {
  color: #6366f1;
  font-size: 21px;
  font-weight: 500;
  font-family: 'Roboto';
  margin-bottom: 0px;
}

.profile-sub-title {
  color: #475569;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
}

.separator {
  border: 1px #475569 solid;
}

.filterTitle {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  margin-top: 30px;
}

.employmentTypeList {
  list-style-type: none;
  padding-left: 0px;
}

.input-check-box {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.label-employment {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto';
}

.each-filter-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.jobs-right-section {
  width: 70vw;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
  overflow-y: scroll;
}

.search-section {
  width: 30vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
}

.input-search-box {
  background-color: transparent;
  border: 1px #475569 solid;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  color: #f1f5f9;
  padding-left: 20px;
  padding-right: 20px;
}
::placeholder {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
}

.search-icon-bg {
  background-color: #272727;
  height: 40px;
  width: 60px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px #475569 solid;
  border-top: 1px #475569 solid;
  border-bottom: 1px #475569 solid;
}

.search-icon {
  height: 20px;
  width: 20px;
  color: #f1f5f9;
}

.button-search {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  outline: none;
}

.jobs-unordered-list {
  list-style-type: none;
  padding-left: 0px;
}

.jobs_failure_image {
  width: 40%;
}

.jobs-failure-title {
  color: #cbd5e1;
  font-size: 31px;
  font-weight: 600;
  font-family: 'Roboto';
}

.jobs-failure-para {
  color: #cbd5e1;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
}
*/
